.login_area .contact {
    background-color: #111111;
    padding: 10rem;
}

.login_area .inputbox {
    width: 100%;
    background-color: black;
    border: 2px solid #000;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    margin-bottom: 30px;
    padding: 1.2rem;
    color: #ffffff;
    font-size: 1.5rem;
}

.login_area .inputbox:hover {
    border: 2px solid #ffff00;
}

textarea {
    min-height: 200px;
}
.login_area p a,.login_icon
{
    color: #a2a0a0 !important;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}
.login_area p a:hover ,.login_icon:hover
{
    color: #ffff00 !important;
}