/*======================
01. Google fonts
========================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&display=swap");

/*======================
02. Basic css
========================*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
* {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
}
h3 {
    font-size: 2.8rem;
}
h4 {
    font-size: 3rem;
}
p {
    font-family: "Heebo", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #a2a0a0;
}
.f_color {
    color: #ffff00;
}

::-moz-selection {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 0);
}
::selection {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 0);
}

.custom_btn {
    padding: 15px 40px;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #000000;
    color: #ffffff;
    position: relative;
    z-index: 1;
    border: none;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.custom_btn::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #ffff00;
    bottom: 0;
    left: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.custom_btn:hover::before {
    width: 100%;
}
.custom_btn::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #ffff00;
    top: 0;
    right: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.custom_btn:hover::after {
    width: 100%;
}
.custom_btn:hover {
    color: #ffffff;
}

.custom_btn span {
    position: absolute;
    background-color: #ffff00;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 2px;
    height: 0;
    z-index: 1;
}

.custom_btn .left_border {
    bottom: 0;
    left: 0;
}
.custom_btn .right_border {
    right: 0;
    top: 0;
}
.custom_btn:hover span {
    height: 100% !important;
}
.custom_btn.tag_bottom {
    padding: 0px 12px;
    font-size: 10px;
    line-height: 24px;
    margin: 2px;
}
.sticky_top_gap{
    padding-top: 80px;
}
.text_tb_line {
    border-top: 3.5px solid #fff;
    border-bottom: 3.5px solid #fff;
    text-transform: capitalize;
}
.section_top_gap {
    margin-top: 10rem;
}
.section_bottom_gap {
    margin-bottom: 7rem;
}
body {
    color: #d0d0d0;
    line-height: 26px;
    font-family: "Roboto", sans-serif;
    background-color: #000000;
}

ol,
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.custom_btn:focus,
a:focus,
input:focus,
textarea:focus {
    outline: none;
}
/* for google ads  */
.ads728_90{
    width: 728px;
    height:90px;
    background-color: rgb(116, 116, 116);
}
.ads336_280{
    width: 336px;
    height:280px;
    background-color: rgb(116, 116, 116);
}
.ads160_600{
    width: 160px;
    height:600px;
    background-color: rgb(116, 116, 116);
}
.ads320_50{
    width: 320px;
    height:50px;
    background-color: rgb(116, 116, 116);
}
