/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
}
@media (min-width: 1200px) and (max-width: 1300px) {
    .login_menu {
        right: 0;
        left: auto;
        transform: translateX(0%);
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1199.98px) {
    .container {
        max-width: 980px;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2.2rem;
    }
    /*-------------------- home page-----------------*/

    .slider-area h2 {
        font-size: 3.5rem;
    }
    .about-img {
        height: 275px;
        width: 275px;
    }
    .about-img::before {
        height: 298px;
        width: 298px;
    }
    .about-img::after {
        height: 298px;
        width: 298px;
    }
    .address span {
        min-width: 90px;
    }
    .service-box h3 {
        margin: 2.5rem 0 1.5rem 0;
    }
    .service-box {
        padding: 60px 15px;
    }
    /*--------------------- Service Page ------------------*/
    .Question {
        padding: 70px;
    }
    .contact_address_text p {
        font-size: 12px;
    }
}
@media (min-width: 992px) and (max-width: 1055px) {
    .login_menu {
        right: 0;
        left: auto;
        transform: translateX(0%);
    }
}
@media (max-width: 991.98px) {
    .container {
        max-width: 768px;
    }
    .section_bottom_gap {
        margin-bottom: 4rem;
    }
    .menu li a {
        font-size: 13px;
    }

    /*--------------------- home Page ------------------*/

    .about-img-wap {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
    .about-text {
        margin-left: 0px;
    }
    .testimonial_area .client-review-box {
        padding: 6rem 2rem;
    }
    .home_contact_area .contact {
        padding: 4rem;
    }
    /*--------------------- Service Page ------------------*/
    .Question {
        padding: 45px;
    }
    /*--------------------- project Page ------------------*/
    /*--------------------- blog Page ------------------*/
    .blog_right_site {
        margin: 0;
    }
    /*--------------------- contact Page ------------------*/
    .contact_address_box {
        margin-top: 15px;
    }
    .contact_page .section_top_gap {
        margin-top: 6rem;
    }
    /*--------------------- Login Page ------------------*/
    .login_area .contact {
        background-color: #131414;
        padding: 7rem;
    }
}
@media (min-width: 768px) and (max-width: 820px) {
    .login_menu {
        right: 0;
        left: auto;
        transform: translateX(0%);
    }
    .login_menu {
        width: 115px;
    }
}
@media (max-width: 767.98px) {
    .Offcanvas {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 7.5px;
    }
    .menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        z-index: -1;
        padding-top: 90px;
        background-color: #000;
        transition: 0.3s;
    }
    .menu li {
        display: block;
        text-align: center;
        margin: 0;
    }
    .menu li a {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
    }
    .about {
        padding: 10rem 7rem;
    }
    .testimonial_area {
        padding: 0 10%;
    }
    .login_icon {
        display: inline-block;
        margin:0px;
    }
    /*--------------------- Service Page ------------------*/
    .accordion-button {
        font-size: 14px;
        font-weight: 600;
    }
    .accordion-body {
        font-size: 12px;
    }
}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 575.98px) {
    .back-to-top {
        background: #ffff0000;
        color: #fff000;
    }
    .custom_btn {
        padding: 10px 20px;
        font-size: 1.2rem;
    }
    /*--------------------- Service Page ------------------*/
    .Question {
        padding: 30px;
    }
    .projects_area_box {
        grid-template-columns: repeat(1, 1fr);
    }
    /* ------------------------Forget page--------------------*/

    .forget_area .contact {
        padding: 3rem;
    }
    /* ------------------------Forget page--------------------*/

    .register_area .contact {
        padding: 3rem;
    }
}
@media (max-width: 455.98px) {
    p {
        font-size: 1.3rem;
    }
    .section_top_gap {
        margin-top: 7rem;
    }
    /* ------------------------home page--------------------*/

    .slider-area h5 {
        font-size: 2rem;
    }
    .slider-area h2 {
        font-size: 2.5rem;
    }
    .slider-area .creative {
        font-size: 1.2rem;
    }
    .Typewriter {
        font-size: 15px;
    }
    .about-img {
        height: 218px;
        width: 218px;
    }
    .about-img::before {
        height: 240px;
        width: 242px;
    }
    .about-img::after {
        height: 240px;
        width: 242px;
    }
    .about {
        padding: 6rem 2rem;
    }
    .service-box {
        padding: 40px 15px;
    }
    .our-services {
        margin-bottom: 0rem;
    }
    .counter {
        padding: 3rem 0;
    }
    .counter-box span {
        font-size: 3rem;
    }
    .counter-box h3 {
        font-size: 1.4rem;
    }
    .testimonial_area {
        padding: 0 5%;
    }
    .testimonial_area .client-review-box {
        padding: 6rem 1rem;
    }
    .home_contact_area .contact {
        padding: 2rem;
    }
    /*-------------- Project page ------------ */
    .categories_link a {
        font-size: 12px;
    }
    /*------- contact Page-------*/
    .contact_address_box:hover .contact_address_icon {
        font-size: 18px;
        color: #fff000;
    }
    /*--------------------- Login Page ------------------*/

    .login_area .contact {
        background-color: #131414;
        padding: 3rem;
    }
}
@media (max-width: 330.98px) {
}
