.categories_link {
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid rgba(196, 194, 194, 0.26);;
}
.categories_link i{
    font-size: 16px;
}
.categories_link a {
    color: rgb(196, 194, 194);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
    margin-left: 10px;
    text-transform: capitalize;
    padding: 5px 0;
}
.categories_link a:hover {
    color: #fff000;
}
