/* counter area  */
.counter-area {
    background-position: center;
    background-size: cover;
    -webkit-filter: grayscale(6.5);
    filter: grayscale(6.5);
}
.counter {
    padding: 5rem 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.counter-box {
    margin: 3rem 0;
    padding: 3rem;
    border: 2px dotted rgb(101, 100, 100);
}
.counter-box i {
    display: block;
    font-size: 3.5rem;
}
.counter-box span {
    font-size: 4rem;
    display: inline-block;
    padding: 1rem;
    font-weight: 600;
    margin: 1.4rem 0 1rem 0;
}
.counter-box .count-up {
    font-weight: 600;
}
.counter-box h3 {
    font-size: 1.8rem;
    color: #9a9a9a;
}
